{% extends "base.html" %}
{% block title %}Administración Battle Way{% endblock %}

{% block container %}
<br>
<h2 class="text-center" style="color: white;">Usuarios en el mundo</h2>
<br>
<div class="loader"></div>
<div id="chart_div" style="width: 900px; height: 400px; margin: 0 auto;"></div>
<script type='text/javascript'>
    google.charts.load('current', {
        'packages': ['geochart'],
        'mapsApiKey': 'AIzaSyB4NfIMaP0fcg3mjH_ESFxwU6gYSS22h0s'
    });
    google.charts.setOnLoadCallback(drawRegionsMap);

    function drawRegionsMap() {
        document.querySelector('.loader').style.display = 'none';
        updateChartData();
    }

    function updateChartData() {
        // Realizar la consulta a Firestore aquí y actualizar los datos del gráfico
        // Este es un ejemplo simplificado, necesitarás implementar la lógica de consulta a Firestore
        var firestoreData = JSON.parse('{{ firestore_users_json|escapejs }}');
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Country');
        data.addColumn('number', 'Usuarios registrados');

        var countryCounts = {};

        firestoreData.forEach(function (user) {
            if (countryCounts[user.country]) {
                countryCounts[user.country]++;
            } else {
                countryCounts[user.country] = 1;
            }
        });

        Object.keys(countryCounts).forEach(function (country) {
            data.addRow([country, countryCounts[country]]);
        });

        var options = {
            region: 'world',
            displayMode: 'regions',
            colorAxis: {
                colors: ['#b7b7b7', '#2197f2', '#f54336']
            },
            backgroundColor: '#212529'
        };

        var chart = new google.visualization.GeoChart(document.getElementById('chart_div'));
        chart.draw(data, options);

        // Actualizar los datos del gráfico cada 5 minutos
        setTimeout(updateChartData, 300000);
    }
</script>
<style>
    .loader {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000;
        border: 10px solid #929292;
        border-top: 10px solid #2197f2;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        animation: spin 2s linear infinite;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
</style>
{% endblock %}